SKIP_PREFLIGHT_CHECK=true

VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SB_PUBLISHABLE_KEY=your-anon-key
VITE_INBOUND_EMAIL=inbound-address@inbound.postmarkapp.com
VITE_ATTACHMENTS_BUCKET=attachments
VITE_DISABLE_EMAIL_PASSWORD_AUTHENTICATION=false
VITE_GOOGLE_WORKPLACE_DOMAIN=
